@font-face {
    font-family: "title";
    src: url("/assets/font/MerriweatherVariableFont.woff2") format("woff2");
    font-style: normal;
}

@font-face {
    font-family: "text";
    src: url("/assets/font/PlaywriteNZBVariableFont.woff2") format("woff2");
    font-style: normal;
}

h1, h2, h3 {
    color: var(--textPrimary);
    font-family: "title";
    font-weight: 700;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.3rem;
}
h3 {
    font-size: 1.5rem;
}

p, a {
    color: var(--textSecondary);
    font-family: "text";
    font-weight: 500;
}

p{
    font-size: 1.2rem; 
}

a {
    font-size: 1.5rem;
    text-decoration: none;
}

a:hover {
    color: var(--accent);
}